.container{
    margin:auto;
    margin-bottom: 20px;
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 600px;
    border: 2px solid burlywood;
    border-radius: 10px;
    align-items: center;
}

.button{
    color: whitesmoke;
    font-weight: 900;
    border-radius: 5px;
    border:0px solid black;
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: rgb(196, 151, 37);
}

.button:hover{
    background-color: goldenrod;
}

.loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  
  .loading div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: goldenrod;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .loading div:nth-child(1) {
    left: 6px;
    animation: loading 0.9s infinite;
  }
  
  .loading div:nth-child(2) {
    left: 26px;
    animation: loading 0.9s infinite;
  }
  
  .loading div:nth-child(3) {
    left: 46px;
    animation: loading 0.9s infinite;
  }
  
  .loading div:nth-child(4) {
    left: 66px;
    animation: loading 0.9s infinite;
  }
  
  @keyframes loading {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  